<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{#if franquia}}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <img src="/img/nfl_draft_logo_100px.png" alt="Logo nfl">
        </li>

        <li class="nav-item">
          <a class="nav-link branco" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link branco" href="#">Histórico</a>
        </li>

        <li class="nav-item">
          <a class="nav-link branco" href="#">Simulador</a>
        </li>

        <li class="nav-item">
          <a class="nav-link branco" href="#">Jogadores</a>
        </li>

        <li class="nav-item">
          <a class="nav-link branco" href="#">Franquias</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle branco" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            User <i class="bi bi-person-fill branco perfil"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item branco" href="#">Sair</a></li>

          </ul>
        </li>
      </ul>

    </div>
  </nav>
  {{else}}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

      <ul class="navbar-nav">
        <li class="nav-item">
          <img src="/img/nfl_draft_logo_100px.png" alt="Logo nfl">
        </li>

        <li class="nav-item">
          <a class="nav-link branco" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle branco" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Cadastro
          </a>

          <ul class="dropdown-menu">
            <li>
              <a class=" dropdown-item branco" href="#">Jogador</a>
            </li>
            <li>
              <a class="dropdown-item branco" href="#">Franquia</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link branco" href="#">Jogadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link branco" href="#">Franquias</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle branco" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            User <i class="bi bi-person-fill branco perfil"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item branco" href="#">Sair</a></li>

          </ul>
        </li>
      </ul>

    </div>
  </nav>

  {{/if}}

  {{{body}}}

  <footer>
        <p class="footer-text branco">Site oficial da NFL</p>

        <a href="https://www.nfl.com/" target="blank">
            <img src="/img/nfl-logo-oficial_90px.png" alt="Logo Oficial da NFL">
        </a>
        
    </footer>

  <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>