<div class="login-content">
        <div class="logo-div">
            <img src="/img/nfl_draft_logo_200px.png" alt="Logo do NFL Draft" class="draft-logo">
        </div>

        <div class="login_container">
            <h1 class="login-title">LOGIN</h1>
            <form action="/" method="post" class="form-login">
                <label for="usuario" class="label-login"><i class="bi bi-person-circle"></i> Usuário:</label>
                <input type="text" name="usuario" id="usuario" class="input-login">

                <label for="senha" class="label-login"><i class="bi bi-file-lock2-fill"></i> Senha:</label>
                <input type="password" name="senha" id="senha" class="input-login">

                <button type="submit" class="btn-login">Entrar <i class="bi bi-box-arrow-in-right"></i></button>
            </form>
        </div>
    </div>