body {
  padding: 50px;
  background-color: #013369;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    height: 150px;
}

ul{
    align-items: center;
}

.back-branco{
    background-color: #fcfdfe;
}

.branco{
    color: #fcfdfe;
}

.red{
    color: #D50A0A;
}

.azul{
    color: #013369;
}

.rigth{
    text-align: right;
}

.dropdown-menu{
    background-color: #013369;
}

.nav-link{
    font-size: 1.5rem;
}

.nav-link:hover{
    color: #D50A0A;
}

.perfil{
    font-size: 3rem;
}

.logo-div{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container{
    width: 30%;
    height: 275px;
    border: 3px, #D50A0A, solid;
    border-radius: 2px;
    margin-left: 35%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfe;
}

.login-title{
    color: #D50A0A;
    background-color: #fcfdfe;
}

.form-login{
    width: 90%;
    background-color: #fcfdfe;
}

.input-login{
    display: block;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid;
    border-color: #D50A0A;
    background-color: #fcfdfe;
    outline: none;
    margin: 10px 0;
}

.label-login{
    color: #013369;
    background-color: #fcfdfe;
}

.btn-login{
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 100px;
    background-color: #D50A0A;
    color: #fcfdfe;
    border: none;
    border-radius: 20px;
    outline: none;
}

.card-externo{
    border-radius: 8px;
}

.card-title{
    display: flex;
    justify-content: space-between;
    color: #fcfdfe;
}

.card-interno{
    background-color: #fcfdfe;
    border-radius: 5px;
}

.col{
   background-color: #fcfdfe; 
}

.conteudo-card{
   background-color: #fcfdfe;  
   color: #D50A0A;
   font-size: 1.2rem;
}

.span-valor{
    background-color: #fcfdfe;
    color: #000010dc;
}

.label-cad-jog{
    text-align: right;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

textarea{
    resize: none;
    border-radius: 5px;
}

.btn-cad-jog{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text{
    margin: 10px;
    font-size: 1.4rem;
}

